{
    "add_text_record": {
        "add_text_record": [
            "all"
        ]
    },
    "get_object_details": {
        "get_object_details": [
            "all"
        ]
    },
    "configuration_details": {
        "configuration_details": [
            "all"
        ]
    }
    "Manage text record": {
        "update_text_record": ["all"]
    }
}
