{
    "add_text_record": {
        "add_text_record": [
            "all"
        ]
    },
    "get_object_details": {
        "get_object_details": [
            "all"
        ]
    },
    "configuration_details": {
        "configuration_details": [
            "all"
        ]
    },
    "manage_text_record": {
        "update_text_record": [
            "all"
        ],
        "delete_text_record": [
            "all"
        ]
    }
}
